body {
  width: 20rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #4285F4;
}
li:nth-child(even) {
  background: #FFAB00;
}
h1,
p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3,
p {
  margin: 0;
}

.tab-icon {
  width: 16px;
  height: 16px;
  background-image: url("path/to/icon.png");
}

.topnav {
  padding:15px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  border-radius: 10px;
}