body {
  background-color: #121212;
  color: #FFFFFF;
  width: 25rem;
  height: 25rem;
}


ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

h1, h5, p {
  color: #FFFFFF;
}
.tabs:nth-child(odd) {
  background-color: #292929;
}
.tabs:nth-child(even) {
  background-color: #242424;
}
.tab-name {
  color: #FFFFFF;
  display: inline-block;
  max-width: calc(100% - 32px); /* Adjust the value as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 32px; 
}

h3,
p {
  margin: 0;
}

.tabs:hover {
  background-color:#00897B;
}

.tab-icon {
  width: 16px;
  height: 16px;
  background-image: url("path/to/icon.png");
  margin-right: 8px;
}
.tab-name {
  flex-grow: 2;
  cursor: pointer;
}


.topnav {
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  height: 20px;
  border-radius: 7px;
}

.tabs {
  background-color: #1E1E1E;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;

  
}

h5#tab-count {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #808080;
  margin-bottom: 1px;
}

#searchbar {
  background-color: #333333;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #555555;
  outline: none;
  box-sizing: border-box;
}

#searchbar::placeholder {
  color: #AAAAAA;
  opacity: 0.7;
}

h1, p {
  text-align: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.botbar {
  background-color: #333333;
  padding: 10px;
  text-align: center;
  color: #CCCCCC;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

#tab-container {
  padding-bottom: 52px; 
}

.botbar button[type="highdupe"] {
  background-color: rgb(127, 127, 150);
  color: white;
  font-weight: bold;
}

.tabs.highlighted {
  background-color: pink; 
  color: black;
  font-weight: bold;
}

.tabs.unhighlighted {
  color: white;
}

button {
  padding: 8px 16px;
  font-size: 14px; 
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #555555;
  color: #FFFFFF;
}

button:hover {
  background-color: #00897B;
}

button:focus {
  outline: none;
}

/* Styles for the highlightDuplicatesBtn */
#highlightDuplicatesBtn {
  background-color: #7F7F96;
  margin-right: 10px;
}

#highlightDuplicatesBtn:hover {
  background-color: #5C5C75;
}

/* Styles for the deleteSelectedTabsBtn */
#deleteSelectedTabsBtn {
  background-color: #F44336;
}

#deleteSelectedTabsBtn:hover {
  background-color: #D32F2F;
}
.tab-checkbox {
  display: inline-block;
  margin-left: auto;
  position: absolute;
  right: 10px;
}